$normalState: #75b100;
$secondaryState: #5c8a04;
$thirdState: #486b06;

*{
    margin: 0;
    padding:0;
    text-decoration: none;
    font-family: 'Segoe UI';
}

#content{
    transition: margin-left 0.7s;
    overflow: hidden;
    width: 100%;
    
    .slide{
        padding: 18px;
        position: relative;
        font-size: 24px;
        z-index: 1;
        position: absolute;

        .open{
            color: $normalState;
        }

        .open:hover{
            color: $secondaryState;
            transition: 0.1s;
        }

        .open:active{
            color:  $thirdState;
            transition: 1ms;
        }
    }
    .nav{
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: black;
        overflow-x: hidden;
        padding-top:60px;
        transition: 0.7s;
        
        li{
            list-style: none;
            a{
                display: block;
                padding: 15px 30px;
                font-size: 20px;
                color: white;
            }

            a:hover{
                background-color: $normalState;
                transition: 0.1s;
                color: rgba(255, 255, 255, 0.959);
            }
    
            a:active{
                background-color:  $secondaryState;
                transition: 1ms;
                color: rgba(255, 255, 255, 0.904);
            }
        }
        
        .nav-reserve{
            
            display: block;
            margin-top: 20px;
            padding: 20px 30px;
            font-size: 20px;
            color: white;
        }
        .nav-reserve:hover{
            background-color: $normalState;
            transition: 0.1s;
            color: rgba(255, 255, 255, 0.959);
        }

        .nav-reserve:active{
            background-color:  $secondaryState;
            transition: 1ms;
            color: rgba(255, 255, 255, 0.904);
        }
    
        .close{
            position: absolute;
            padding: 17px 0;
            top: 0;
            right: 22px;
            margin-left: 50px;
            font-size: 30px;
            color: $normalState;
        }
        
        .close:hover{
            color: $secondaryState;
            transition: 0.1s;
        }

        .close:active{
            color:  $thirdState;
            transition: 1ms;
        }
    }
}



header{
    background-color: black;
    width: 100%;
    height: 60px;

    .header-brand{
        width: 100%;

        .logo{
            width: 35%;
            height: 60px;
            display: block;
            margin: 0 auto;
        }
    }
    
}


.index-banner{
    width: 100%;
    height: calc(100vh - 100px);
    background-image: url("/./assets/p.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-color: rgba(0, 0, 0, 0.541);
    background-blend-mode: darken;
    display:table;
    
    .vertical-center{
        display:table-cell;
        vertical-align: middle;

        .main-brand{
            width: 100%;
            padding: 20px 0;
    
            .logo{
                width: 45%;
                display: block;
                margin: 0 auto;
                
            }
        }
        h2{
            padding: 0 10px;
            font-size: 27px;
            font-weight: 400;
            color: white;
            text-align: center;
            text-shadow: 2px 2px 8px #111;
        }
    } 
}
.index-boxlink-1{
    width: 100%;
    padding: 15px 0;

    .welcome-logo{
        width: 12%;
        display: block;
        margin: 0 auto;
    }
    h3{
        text-align: center;
        font-weight: 500;
    }
    .welcome-details{
        width: 100%;
        margin: 0 auto;
        display: block;

        h2{
            text-align: center;
            color: $normalState;
        }
        p{
            padding: 18px;
            font-size: 16px;
            text-align: center;
        }
    }
    a{  
        h4{
            display: block;
            margin: 0 auto;
            text-align: center;
            color: white;
            width: 130px;
            padding: 5px;
            background-color: $normalState;
            border-radius: 10px;
            font-style: bold;
        }
    }
}

.index-boxlink-2{
    width: 100%;
    height: calc(100vh - 100px);
    .welcome-img{
        width: 100%;
        height: calc(100vh - 100px);
    }
}

.index-fix-img{
    
    width: 100%;
    height: calc(100vh - 100px);
    background-image: url("/./assets/u.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-color: rgba(0, 0, 0, 0.541);
    background-blend-mode: darken;
    display:table;

    .vertical-center{
        display:table-cell;
        vertical-align: middle;

        h2{
            text-align: center;
            font-family: 'MV Boli';
            color: white;
        }
        h4{
            padding: 15px;
            font-weight: 400;
            text-align: center;
            color: white;
        }
    }
}

.index-boxlink-3{
    width: 100%;
    height: calc(100vh - 100px);
    .special-img{
        width: 100%;
        height: calc(100vh - 100px);
    }
}

.index-boxlink-4{
    width: 100%;
    padding: 15px 0;
    h2{
        font-family: 'MV Boli';
        color: $normalState;
        text-align: center;
    }
    p{
        padding: 18px;
        font-size: 16px;
        text-align: center;
        span{
            font-weight: 500;
        }
    }
}

footer{
    width: 100%;
    background-color: black;
    padding: 20px 0;

    .index-footer-1{
        padding: 10px 60px;
        
        .footer-logo{
            width: 70%;
        }
        h3{
            color: white;
            font-family: 'MV Boli';
        }
    
        .social-links{
            padding:10px;
            a{
                color: white;
                font-size: 35px;
                border-bottom: 2px solid $normalState;
                margin-right: 10px;
            }
        }
        
    }
    
    .index-footer-2{
        padding: 20px 60px;
        
        h3{
            padding-bottom: 10px;
            color: white;
            hr{
                border: 1px solid $normalState;
                width:150px;
            }
        }
        ul{
            li{
                list-style-type: none;
                color: white;
                margin-bottom: 5px;
                font-size: 16px;

                span{
                    color: $normalState;
                }
            }
        }
    }
    
    .index-footer-3{
        padding: 20px 60px;
        
        h3{
            padding-bottom: 10px;
            color: white;
            hr{
                border: 1px solid $normalState;
                width:115px;
            }
        }
        ul{
            li{
                list-style-type: none;
                color: white;
                margin-bottom: 5px;
                font-size: 16px;

                i{
                    color: $normalState;
                    font-size: 16px;
                }

                span{
                    color: $normalState;
                }
            }
        }
    }
}

.copyright{
    width: 100%;
    padding: 10px 0;
    background-color: rgb(39, 39, 39);
    display: flex;
    justify-content: center;
    align-items: center;

    h4{
        font-weight: 400;
        color: white;
        span{
            color: $normalState;
        }
    }
}

